---
import './global.css'
import BaseLayout, { type Props as BaseLayoutProps } from './base.astro'
import { getEntry } from 'astro:content'

export interface Props extends BaseLayoutProps {
  title?: string
  description?: string
  hide?: boolean
}

const { title, description, hide, class: className, ...props } = Astro.props
const site = await getEntry('site', 'site')
---

<BaseLayout class:list={['min-h-dvh', className]} {...props}>
  <slot />

  <Fragment slot='head'>
    <title>
      {title ? `${title} \u2014 ${site?.data.title}` : site?.data.title}
    </title>
    <meta name='description' content={description ?? site?.data.description} />
    {hide && <meta name='robots' content='noindex, nofollow' />}
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <slot name='head' />
  </Fragment>
</BaseLayout>
